:root {
    --main-text-color: #212121;
    --logo-blue-color: #2196F3;
    --total-black: #000;
    --gray-text-color: #757575;
    --total-white: #fff;
    --dark-section-color: #2F303A;
    --light-section-color: #F5F4FA;
    --footer-alpha-colot: rgba(255, 255, 255, 0.6);
    --portfolio-button-color: #F5F4FA;
    --active-button-blue-color: #188CE8;
    --icon-inactive-grey-color: #AFB1B8;
    --footer-alpha-icons-color: rgba(255, 255, 255, 0.103);
    --job-section-back-alpha-color: rgba(47, 48, 58, 0.8);
    --portfolio-alpha-hidedescr-blue-color: #2196F3E5;
    --modal-alpha: #00000050;
    --modal-border-color: rgba(33, 33, 33, 0.2);
    --placeholder-semialpha-gray-color: rgba(117, 117, 117, 0.5);
    --form-input-gray-color: rgb(117, 117, 117);

        /* animation */

    --anim-cubic-value: cubic-bezier(0.4, 0, 0.2, 1);
        
}