.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--logo-blue-color);

    &__balck--text {
            color: var(--total-black);
        }
    
        &__blue--text {
            color: var(--logo-blue-color);
        }
    
        &__white--text {
            color: var(--total-white);
        }
}

