.team {
    background: var(--light-section-color);
    padding: 60px 0;

    @media screen and (min-width: 1200px) {
        padding: 94px 0;
    }

    
        &__title {
            font-size: 36px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.03em;
            margin-bottom: 50px;
        }
        &__social-menu{
            margin-top: 16px;
        }
        &__actor-header {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.03em;
            margin-bottom: 10px;
        }
    
        &__actor-role {
            color: var(--gray-text-color);
            font-size: 16px;
            line-height: 1.2;
            text-align: center;
            letter-spacing: 0.03em;
        }
    
        &__actor-part {
            // width: 270px;
            background-color: var(--total-white);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
            padding: 30px 0;
        }
    
        &__actor-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
        }
    
       

}