body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
    background-color: var(--total-white);
}

* {
    box-sizing: border-box;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}