.footer {
    background: var(--dark-section-color);
    padding: 60px 0;

    &__flex-container {
            display: flex;
            gap: 70px;
            align-items: baseline;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &__social-menu{
            margin-top: 20px;
        }
        &__contact {
            font-style: normal;
            margin-bottom: 5px;
    
        }
    
        &__contact:last-child {
            margin-bottom: 0;
        }


    
        &__logo {
            margin-bottom: 20px; 
            text-align: center;
            @media screen and (min-width: 1200px) {
                text-align: left;
            }
        }

        &__cotact-list{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @media screen and (min-width: 1200px) {
            align-items: flex-start;
            }
        }

        &__address-thumb{
            margin: 0 auto;
             @media screen and (min-width: 1200px) {
                margin: 0;
            }
        }
    
        &__address {
            color: var(--total-white);
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;
            transition: color 250ms var(--anim-cubic-value);

            &:hover,
            &:focus {
                color: var(--logo-blue-color);
            }
        }
    
        &__contact-text {
            color: var(--footer-alpha-colot);
            font-size: 14px;
            line-height: 1.7;
            letter-spacing: 0.03em;
            transition: color 250ms var(--anim-cubic-value);

            &:hover,
            &:focus {
                color: var(--logo-blue-color);
            }
        }
}




