.header {
    border-bottom: 1px solid #EEEEEE;
    box-sizing: border-box;

    &__contact-nav-thumb{
        display: none;
    }

    &__nav-part,
    &__contact {
        transition: color 250ms var(--anim-cubic-value);
    }

   
    &__nav-part {
     font-weight: 500;
     font-size: 14px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     padding: 32px 0;
     display: block;

     &:hover,
     &:focus {
         color: var(--logo-blue-color);
     }

     &--current {
         position: relative;
         color: var(--logo-blue-color);

         &::after {
             position: absolute;
             left: 0;
             bottom: calc(0% - 1px);

             content: "";
             display: block;
             height: 4px;
             width: 100%;
             border-radius: 10px;
             background-color: var(--logo-blue-color);
         }
     }
   
    }

   
   



    &__contact {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--gray-text-color);
        display: flex;

        &:hover,
        &:focus {
            color: var(--logo-blue-color);
        }
    }

 




    &__flexbox {
        
        height: 60px;
        @media screen and (min-width: 768px) {
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
    }

    &__navigation {
        display: flex;
        align-items: center;

        justify-content: space-between;
    }

    &__menu {
        // display: flex;
        // align-items: center;
        // gap: 50px;
        display: none;


        @media screen and (min-width: 768px) {
            display: flex;
            align-items: center;
            gap: 50px;
        }
        
        &--contact{
        @media screen and (min-width: 768px) and (max-width:1200px) {
            flex-direction: column;
            gap: 10px;
            align-items: baseline;
        }
        }
    }

    &__menu--nav-elements {
        margin-left: 93px;
    }

    &__contact-icons {
        height: 16px;
        width: 16px;
        margin-right: 10px;
    }

    &__burger-icon{
        width: 40px;
        height: 40px;
        fill: var(--total-black);
    }
   

}